<div>
    {{query}}
    <br>
    <h1>{{stockInfo.companyName}} ({{stockInfo.symbol}})</h1>
    <br>
    <hr><br>

    <h3>Summary</h3>
    <strong>Latest Price:</strong>{{stockInfo.latestPrice}} <br>
    <strong>Change Percent:</strong>{{stockInfo.changePercent}} <br>
    <strong>Latest Volume:</strong>{{stockInfo.latestVolume}} <br>
    <strong>Previous Volume:</strong>{{stockInfo.previousVolume}} <br>
    <br>
    <hr><br>

    <h3>All Information</h3>
    {{#each stockInfo}}
    {{@key}} | {{this}} <br>
    {{/each}}
</div>